.content{
    height: auto;
}
.about{
    font-size: 2vh;
    margin-bottom: 5vh;
}
.about .img{
    height: 40vh;
    background: url(img/about/redmouse.jpeg) no-repeat center center / cover;
}
.printers{
    display: flex;
    position: relative;
    top: 5vh;
}
.printers img{
    width: 40vh;
    height: 30vh;
    margin-right: 2vh;
    box-shadow: 1px 1px 10px black;
}