footer{
    width: 100%;
    background: linear-gradient(rgba(140, 95, 95, 0.904),rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    bottom: 0;
    position: relative;
    color: black;
    display: block;
    font-family: eurofurence light,century gothic,sans-serif;
}
footer a {
    margin-top: 2vh;
    position: relative;
}
footer a img{
    width: 5vh;
    height: 5vh;
}
.padding-top{
    padding-top: 10vh;
}
.copyright{
    text-align: center;
    margin-top: 10vh;
    position: relative;
    
    font-size: 2.5vh;
}
.w100{
    width: 100%;
}
.footer_item{
    margin-right: 6vh;
}
iframe.map{
    margin-top: 3vh;
    border: 0px;
    box-shadow: 0px 5px 10px;
    width: 50vh;
    height: 30vh;
}
footer h4{
    font-size: 2.5vh;
}
footer p{
    font-size: 2vh;
}
.footer_block_a{
    position: relative;
    top: 0%;
    margin: 5vh 0vh;
}
.footer_title_block_a{
    border-bottom: 0.2vh solid black;
    color: black;
    font-size: 3vh;
    width: 30vh;
    padding-left: 5vh;
    margin-bottom: 2vh;
}
.footer_a{
    margin: 0vh 1vh;
    position: relative;
}
.footer_a a{
    top: 0;
    margin: 0;
    color: blue;
    font-size: 2.5vh;
}
.looks{
    margin: 0px auto;
    text-align: center;
}
.on_top{
    position: fixed;
    bottom: 50%;
    right: -10%;
    color: red;
    background: white;
    border-radius: 50%;
    font-size: 3vh;
    padding: 1.5vh;
    box-shadow: 0px 0px 10px black;
    z-index: 100;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    iframe.map{
        width: 15vh;
        height: 10vh;
    }
}

@media only screen and (max-width: 1150px) {
    iframe.map{
        width: 30vh;
        height: 20vh;
    }
}