header{
    z-index: 100;
    height: 15vh;
    position: relative;
    background: linear-gradient(110deg, #181818,rgb(32,32,32));
}
header.glide {
    top: 0;
    z-index: 1000;
    position: fixed;
    font-size: 1.5em;
    height: 10vh;
    width: 100%;
    background: linear-gradient(110deg, #181818,#232323);
    color: #000;
    text-align: left;
    padding-left: 2em;
    box-shadow: 0px 1px 3px black;
}
.d-flex{
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
}
.align-items-center{
    align-items: center;
}
/*логотип*/
a.logo {
    position: relative;
    margin-right: 23vh;
    width: 17vh;
    height: 6vh;
    min-width: 10vh;
}
.img-logo{
    background: url(img/logo.png) no-repeat center center /  contain;
    width: 15vh;
    height: 100%;
    max-width: 150px;
    min-width: 50px;
}
/*header .logo img {
    max-width: 120px;
}*/
/*логотип*/
/*меню*/
ul,li{
    padding: 0;
    margin: 0;
    display: block;
}
ul.menu{
    position: relative;
}
ul.menu li{
    margin-right: 5vh;
    letter-spacing: 0.2vh;
    text-decoration: none;
    display: block;
}
ul.menu a{
    font-weight: 300;
    font-size: 1.8vh;
}
ul.menu a:hover{
    color: red;
}
a{
    color: white;
    text-decoration: none;
}
.vk_menu .vk{
    top: -20vh;
    position: absolute;
    background: whitesmoke;
    color: black;
    box-shadow: 0px 4px 10px;
    height: 10vh;
    box-sizing: border-box;
}
.vk_menu li{
    position: relative;
    left: 0vh;
    padding: 0;
    padding-left: 1vh;
    margin: 0;
    height: 3vh;
}
.vk_menu li:hover{
    left: 1vh;
}
.vk_menu .vk a{
    color:  rgb(74,118,168);
    cursor: pointer;
}
.vk_menu img{
    width: 3vh;
    height: 3vh;  
    background: rgb(74,118,168);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(74,118,168);
    border: 0px ;
}
.vk_menu img:hover{
    background: red;
    box-shadow: 0px 0px 5px red;
}
.exit{
    border:0px;
    font-size: 1.8vh;
    font-weight: 300;
    background: transparent;
    color: white;
}
.exit:hover{
    color: red;
}
.profile{
    color: rebeccapurple;
}
