.content .container{
    height: auto;
}
.content{
    height: auto;
}

.main{
    width: 100%;
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: .85em;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    height: auto;
    text-align: center;
    position: relative;
    top: 2vh;
    margin: 0px auto;
}
.main ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main .item{
    height: auto;
    min-height: 30vh;
    max-width: 40vh;
    width: 100%;
    display: inline-block;
    /* background: #fff; */
    padding: 1em;
    margin: 1vh;
    /* width: 100%; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: rgba(187, 120, 120, 0.356);
    box-sizing: border-box;
}
.main .item ul{
    left: 3vh;
    position: relative;
}
.li_first{
    border-bottom: 2px double red;
    font-size: 2.5vh;
    text-align: left;

}
.main .item  ul{
    margin: 3vh 0vh;
    position: relative;
}
.main .item  ul li{
    font-size: 2vh;
    text-align: left;
}